.header {
    background:rgba(0, 0, 0, 0.35) url("../img/back.svg");
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    scale: auto;
}

.header__container {
    max-width: 1110px;
    margin: 0 auto;
    
}

.header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header__nav ul {
    display: flex;   
    align-items: center;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav ul a {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}

.header__button{
    font-family: 'Rubik', sans-serif;
    background-color: white;
    color: #606B74;
    border: 4px solid white;
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 21.5px;
    transition: all .4s ease;
    text-transform: uppercase;
    margin-left: 3px; 

    }

.header__button:hover{
    background-color:aquamarine;
    border: 4px solid aquamarine;
    }
    
.firstpage {
    padding-top: 12%;
    padding-bottom: 12%;
    align-items: center;
    width: 100%;
    display: flex;;
}

.firstpage__text {
    width: 440px;
    color: #FFFFFF;
    font-style: normal;
    margin-right: 330px;
}

.firstpage__text h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 500;
    
}

.firstpage__text h1 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 900;
}

.firstpage__watchbtn {
    display: flex;
    align-items: center;
    width: 200px;
}

.firstpage__watchbtn button {
    background-color: transparent;
    padding: 0;
    border: none;
    margin-top: 10px;
    transition: all .4s ease; 
}

.firstpage__watchbtn a {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 13px;
    line-height: 14px;
    color: #FFFFFF;
}

.secondpage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.secondpage__text {
    width: 500px ;

}
    
.secondpage__text h1 {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    color: #222F33;
}

.secondpage__text h3 {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #646D70;
}

.secondpage__text button {
    padding: 10px 14px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #606B74;
    border: 1px solid #646D70;
    border-radius: 4px;
    transition: all .4s ease;
}
.secondpage__text button:hover{
    color: darkgray;
}

.secondpage__image {
    height: 100%;
}

.thirdpage__background{background: #222F33;}

.thirdpage {
    justify-content: space-between;
    height: 250px;
    font-style: normal;
    align-items: center;
    margin-top: 32px;
    height: 100%;
    width: 100%;
    margin-bottom: 32px;
    
}

.thirdpage h1{
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
}

.thirdpage h3 {
    width: 380px;
    height: 120px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.7;
}

.container_content {
display: flex;
justify-content: space-between;
}

.fourthpage {
    justify-content: space-between;
    display: flex;
    margin-top: 85px;
    width: 100%;
    height: 440px;
    
}

.fourthpage h3 {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 18px;
    line-height: 22.6px;
    color: #222F33;
}

.fourthpage p {
    font-family: 'Rubik'; 
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #646D70;
    width: 155px;
    height: 66px; 
}

.footer__container {
    background-color: #222F33;
    align-items: center;
    
}

.footer__menu {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 72px;
}

.mail {
    color: #FFFFFF;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
}

.privacyandcookies ul {
    display: flex;
}

.privacyandcookies li {
    margin-right: 30px;
    display: flex
}

.privacyandcookies li a {
    font-style: normal;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 12px; 
    line-height: 14.22px;
    color: #FFFFFF;
    opacity: 0.6;
}



